.todo_list {
    background-color: rgb(70, 70, 70);
    height: 300px;
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
    overflow-y: auto;
}

.todo_list h3 {
    text-align: center;
}

@media (max-width:600px) {
    .todo_list {
        width: 90%;
    }
}