.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid green;
    border-radius: 15px;
    padding: 0.4rem 0.7rem;
}

.text {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

@media (max-width:600px) {
    .text {
        font-size: 0.8rem;
        font-weight: bold;
    }
}